.container {
width: 1200px;
margin: 0 auto;
}

.quote-font {
    font-style: italic;
    text-align: center;
    font-size: 56px;
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    margin-left: 0px;
}

/* background */

.blue-bg {
    background-color: rgb(52, 86, 139);
}
.margin-bg {
    margin-top: -21px;
    margin-left: -8px;
    margin-right: -8px;
}

.align-center {
    text-align: center;
}

.split-50 {
    width: 50%;
}
/* colors */

.white-font {
    color: antiquewhite;
}

/* font */
.font-header {
    font-family:Arial, Helvetica, sans-serif;
    
}

.image {
    border-radius: 50%;
    width: 200px;
}

/* flex */

.flex-container {
    display: flex;
}

/* grid */
/* .wrapper-2-columns {
    display: grid;
    grid-template-columns: repeat(4, lfr);
    gap: 1àpx;
    grid-auto-rows: minmax(100px, auto)
}
.first {
    grid-column: 1 ;
    grid-row: 1;

}
.second {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
} */

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 75px;
    grid-auto-rows: minmax(100px, auto);
  }
  .one {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .two {
    grid-column: 2 / 4;
    grid-row: 2;
  }
  .three {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
  }
  .four {
    grid-column: 3 / 5;
    grid-row: 3;
  }
  .five {
    grid-column: 4;
    grid-row: 1;
  }
  .six {
    grid-column: 3;
    grid-row: 4;
  }